* {
  margin: 0;
  color: rgb(48, 48, 48);
  font-family: 'Rubik', sans-serif;


}

body {

  background-color: #643e3e;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
}


.main__table {
  display: grid;
  grid-template-columns: auto;
  text-align: left;
  width: 700px;
  border-collapse: collapse;
  background-color: #202020;
  margin-top: 100px;

   p {
    margin-left: 20px;
   }

  .headers__container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: left;

    .header {
      height: 10%;
        .header__paragraph {
          margin-top: 20px;
          margin-bottom: 20px;
          color: rgb(150, 150, 150);
          
        }
     }
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    .content {
      padding: 10px 20px 10px 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      height: 50px;
    }
   }
  }